body {
   font-size: 20px;
   line-height: 1.5em;
   background: lightgray;
   height: 100%;
   color: #777777;
}

.navbar {
   padding: .5rem 11rem;
}

.navbar-brand {
   color: white;
   background-color: #4aaaa5;
  
}

#copy {
   color: lightgray;
}

h2 {
   color: white;
}

.nav-link {
   color: lightgray;
}

.card-title {
   color: #4aaaa5;
}

a:hover {
   background-color: #4aaaa5;
   color: black;
   font-size: 24px;
}

a:visited {
   color: #777777;
}

button {
   background-color: #4aaaa5;
   color: white;
}

hr {
   display: block;
   margin-top: 1.5em;
   margin-bottom: 1.5em;
   margin-left: 5%;
   margin-right: 5%;
   border-style: solid;
   border-width: 2px;
   border-color: lightgray;
}

