body {
   font-size: 20px;
   line-height: 1.5em;
   background: lightgray;
   height: 100%;
}

.navbar-brand {
   margin-left: 240px;
   background-color: #4aaaa5;
   padding-right: 80px;
   padding-left: 80px;
   font-size: 30px;
}

.container {
   width: 960px;
}

#mike {
   height: 40%;
   width: 40%;
   padding-right: 60px;
   padding-bottom: 10px;
   padding-top: 15px;
   padding-left: 30px;
   margin-left: -25px;
}

hr {
   display: block;
   margin-top: 1.5em;
   margin-bottom: 1.5em;
   margin-left: 5%;
   margin-right: 5%;
   border-style: solid;
   border-width: 2px;
   border-color: lightgray;
}

.about {
   margin-left: 60px;
   padding-top: 25px;
}

/* .p-0 {
   padding: 0!important;
   height: 100px;
} */